.board {
    display: grid;
    grid-template-columns: repeat(3, 6em);
    grid-template-rows: repeat(3, 6em);
    gap: 10px;
    justify-content: center;
}
body h1 {
  font-family: primary;
  text-align: center;
  color: #241f31;
}
@font-face {
  font-family: primary;
  src: url(src/Roboto-Black.ttf);
}
.cell {
  color: #9a9996;

  font-family: primary;
  font-size: 3em;
  width: 2em;
  height: 2em;
  border: 0.1em solid #77767b;
  box-shadow:0em 0em .5em #3d384650 inset, 0em 0em 1em #5e5c6440;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 0.2em;
  
}

.status {
  text-align: center;
  margin-top: 2em;
  font-family: primary;
  font-size: 1em;
  color: #241f31;
}

button {    
  position: absolute;
  top: 50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  border: none;
  background-color: #3d3846;
  font-size: 1em;
  font-family: primary;
  padding: 0.5em 1em;
  color: #deddda;
  border-radius: 5px;
  cursor: pointer;
}
#but {
  width:100%;
  height: 80px;
  position: relative;
}
body {
  
  background-color: #f6f5f4;
}

